@import 'tailwindcss';
@import 'tailwindcss';
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
    display: none;
}

@theme inline {
    --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1 var(--delay, 0ms);

    @keyframes cell-ripple {
        0% {
            opacity: 0.4;
        }
        50% {
            opacity: 0.8;
        }
        100% {
            opacity: 0.4;
        }
    }
}

@theme inline {
    --animate-aurora: aurora 60s linear infinite;
    @keyframes aurora {
        from {
            background-position:
                50% 50%,
                50% 50%;
        }
        to {
            background-position:
                350% 50%,
                350% 50%;
        }
    }
}
